<div class="card">
  <div class="card-header">
    Lista de Vehiculos
  </div>

  <div class="card-body">
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Filtro:</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Marca" [(ngModel)]="filtro">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        Filtrado por: {{filtro}}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2">
        <a [routerLink]="['/vehiculo']" class="btn btn-info">NUEVO</a>
      </div>
    </div>
    <br>
    <div class="col-sm-12">
      <table class="table table-white">
        <thead>
          <tr>
            <th>
              <!-- Funcionalidad boton -->
              <button class="btn btn-sm" [ngClass]="{'btn-success': mostrarImagen, 'btn-warning': !mostrarImagen}"
                (click)="mostrar()">
                {{ mostrarImagen ? 'Ocultar' : 'Mostrar' }} Imagen
              </button>
            </th>
            <!-- crear tabla -->
            <th>Codigo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Color</th>
            <th>Kilometraje</th>
            <th>Precio</th>
            <th>Calificación</th>
          </tr>
        </thead>
        <tbody>
          <!-- Contenido de la tabla de acuerdo a PagListaVehiculoComponent -->
          <ng-container *ngFor="let item of listaVehiculos">
            <tr>
              <td><img [src]="item.foto" style="width: 80px;" *ngIf="mostrarImagen"></td>
              <td><a [routerLink]="['/vehiculos/'+item.codigo]">{{item.codigo}}</a>
              </td>
              <td>{{item.marca| AEspacio:''}}</td>
              <td>{{item.modelo }}</td>
              <td>{{item.ano}}</td>
              <td>{{item.color}}</td>
              <td>{{item.kilometraje}}</td>
              <td>{{item.precio | currency}}</td>
              <td>
                <app-calificacion [calificacion]="item.calificacion" (accion)="recepcion($event)"></app-calificacion>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>